div.to_another_link {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #ffd780;
    margin : 20px 10px 20px 10px;
    padding : 20px 220px 20px 220px;
    border :double 6px rgb(95, 90, 243);
}

.index_link{
    font-size:22px;
}

p#introduction_text{
    font-size: 25px;
}

.nomal_text{
    font-size: 25px;
}

.subtitle_size{
    font-size: 40px;
}

#title_text{
    font-size: 50px;
}

#link_text{
    font-size: 30px;
    text-align: center;
    margin : 5px 50px 5px 50px;
}

body{
    background-color: #fefefe;
}

.dounyu{
    background-color: #f0f182;
}

.gurume{
    background-color: #f8dfaa;
}

.sightseeing{
    background-color: #9df4ab;
}

.play{
    background-color: #80e6f4;
}