.invite {
    display:inline-block;
  position: relative;
  }
.invite p {
     position: absolute;
  color: white;
  font-weight: bold; 
  font-size: 2em;
  font-family :Quicksand, sans-serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
img{
     width: 450px;
    height: 300px;
}
